.event-list {
    list-style-type: none;
    padding: 0;
  }
  
  .event-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .event-info {
    font-size: 16px;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 12px;
    text-align: left;
  }
  
  .table-row:hover {
    background-color: yellow;
    color: black;
    cursor: pointer;
  }
  
  .table-actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    font-size: 16px;
    color: #007bff; /* Example color */
  }
  
  #tbl{
    margin-top: 10vb;
    background-color: yellow;
    width: 100%;
    height: auto;
    color: whitesmoke;
    background-image: url(codioful-formerly-gradienta-bKESVqfxass-unsplash.jpg);
    background-size: cover;
  }